body {
  font-family: "Questrial", sans-serif;
  background-image: url("../image/sky-cloud.jpg");
}

.search-input {
  padding-top: 50px;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.active {
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  position: relative;
  top: -8px;
  left: 2px;

  color: black;
}
.active:hover {
  font-size: 14px;
  font-weight: bolder;
  position: relative;
  top: -8px;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: -8px;
  color: rgb(255, 255, 255, 50%);
}
a:hover {
  color: rgb(255, 255, 255);
}
.city-name {
  font-size: 20px;
  font-weight: bolder;
}
.left {
  position: relative;
  left: 5px;
}
.name-temp {
  position: relative;
  left: 5px;
}

.pipe {
  font-size: 20px;
  font-weight: bolder;
}

.city-temp {
  font-size: 23px;
  font-weight: bolder;
}
.border {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.container .week {
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  font-size: 30px;
  padding: 20px;
  border: 1px solid white;
}

.icon {
  width: 25%;
  position: relative;
  top: -5px;
}

.share {
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  margin-bottom: 30px;
  border: 1px solid #bd414b80;
  background: #bd414b80;
  color: #fcd92c;
  box-shadow: 0 1px 20px rgb(0 0 0 / 50%);
  cursor: pointer;
  border-radius: 20px;
}
.share:hover {
  transition: opacity 300ms ease-in-out;
  background-color: #fcd92c;
  color: hsla(355, 49%, 50%);
  opacity: 1;
}

.loc {
  display: block;
  height: 40px;
  width: 40px;
  background-color: rgb(156, 155, 155);
  color: black;
  border: rgb(52, 52, 128);
  border-radius: 50%;
  position: relative;
  top: -2px;
  box-shadow: 0 1px 20px rgb(0 0 0 / 50%);
}
.loc:hover {
  background-color: gray;
  color: black;
}
.btn {
  box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
}
ul {
  list-style-type: none;
}

.source {
  text-decoration: none;

  text-align: center;
  color: black;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
.source:hover {
  color: #fcd92c;
}
.row {
  --bs-gutter-x: 0px;
}

@media (max-width: 1200px) {
  .col.d-flex.justify-content-sm-end {
    font-size: 17px;
  }
  .col.d-flex.justify-content-sm-start {
    font-size: 17px;
  }
  .col.d-flex.justify-content-sm-center {
    font-size: 17px;
  }
  .city-name,
  .city-temp {
    font-size: 15px;
  }
  .icon {
    width: 25px;
  }

  .weathericon {
    width: 32px;
  }
  li,
  ul {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .col.d-flex.justify-content-sm-end {
    font-size: 11px;
  }
  .col.d-flex.justify-content-sm-start {
    font-size: 11px;
  }
  .col.d-flex.justify-content-sm-center {
    font-size: 11px;
  }
  .col-6.justify-content-sm-between {
    font-size: xx-small;
  }
  .col-6.d-flex.flex-row-reverse {
    font-size: small;
  }
  li,
  ul {
    margin-bottom: 0;
  }
  .weathericon {
    width: 22px;
  }
}
@media (max-width: 576px) {
  .col.d-flex.justify-content-sm-end {
    font-size: 10px;
  }
  .col.d-flex.justify-content-sm-start {
    font-size: 10px;
  }
  .col.d-flex.justify-content-sm-center {
    font-size: 10px;
  }
  .col-6.justify-content-sm-between {
    font-size: xx-small;
  }
  .col-6.d-flex.flex-row-reverse {
    font-size: small;
  }
  li,
  ul {
    margin-bottom: 0;
  }
  .weathericon {
    width: 20px;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  .col.d-flex.justify-content-sm-end {
    font-size: 7px;
  }
  .col.d-flex.justify-content-sm-start {
    font-size: 7px;
  }
  .col-6.justify-content-sm-between {
    font-size: xx-small;
    text-align: center !important;
  }
  .col-6.d-flex.flex-row-reverse {
    font-size: x-small;
  }
  li,
  ul {
    margin-bottom: 0;
  }
  .weathericon {
    width: 12px;
    display: block;
    margin: 0 auto;
  }
  .icon {
    width: 20px;
    margin-bottom: 6px;
  }
  .city-name,
  .city-temp,
  .f,
  #c,
  .active,
  .pipe,
  .a {
    font-size: 10px !important;
  }
}
@media (max-width: 370px) {
  .col.d-flex.justify-content-sm-end {
    font-size: 5px;
  }
  .col.d-flex.justify-content-sm-start {
    font-size: 5px;
  }
  .col-6.justify-content-sm-between {
    font-size: 8px;
    text-align: left !important;
  }
  .col-6.d-flex.flex-row-reverse {
    font-size: 8px;
  }
  li,
  ul {
    margin-bottom: 0;
  }
  .weathericon {
    width: 10px;
    display: block;
    margin: 0 auto;
  }
  .icon {
    width: 20px;
  }

  .f,
  .pipe {
    display: none;
  }
  .city-name,
  .city-temp,
  .active,
  #c {
    font-size: 10px !important;
    position: relative;
    left: -11px;
  }
  #c {
    position: relative;
    top: -4px;
    left: -10px;
    font-size: 5px !important;
  }
}
