body {
  font-family: "Questrial", sans-serif;
}
.search-input {
  padding-top: 50px;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.active {
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
  position: relative;
  top: -8px;
  color: black;
}
.active:hover {
  font-size: 12px;
  font-weight: bolder;
  position: relative;
  top: -8px;
  text-decoration: none;
}
a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
  position: relative;
  top: -8px;
}
.city-name,
.pipe {
  font-size: 20px;
  font-weight: bolder;
}
.name-temp {
  position: relative;
  left: -20px;
  top: -20px;
}

.city-temp {
  font-size: 23px;
  font-weight: bolder;
  padding: 3px;
}
.border {
  background-color: #bd414b80;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.week {
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  font-size: 30px;
  background-color: #2b7cdf80;
  padding: 20px;
  border: 1px solid white;
}

.icon {
  position: relative;
  top: -25px;
  left: -17px;
  height: 64px;
  width: 64px;
}
.col-6 {
  position: relative;
  position: relative;
  top: 22px;
}
.share {
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  margin-bottom: 30px;
  border: 1px solid #bd414b80;
  background: #bd414b80;
  color: #fcd92c;
  box-shadow: 0 1px 20px rgb(0 0 0 / 50%);
  cursor: pointer;
  border-radius: 20px;
}
.share:hover {
  transition: opacity 300ms ease-in-out;
  background-color: #fcd92c;
  color: hsla(355, 49%, 50%);
  opacity: 1;
}

.loc {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #4d71b0;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

ul {
  list-style-type: none;
}

.source {
  text-decoration: none;

  text-align: center;
  color: black;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
.source:hover {
  color: #fcd92c;
}
.row {
  --bs-gutter-x: 0px;
}
